:root {
    --asanaSidebarBackground: #151b26
}

.sidebar {
    display: flex;
    flex-direction: column;
    width: 200px;
    background-color: var(--asanaSidebarBackground);
    padding-left: 20px;
    height: 100vh;
    color: white;
    transition-duration: .2s;
}

.sidebarMinimized {
    width: 0px;
    transition-duration: .2s;
}

.sidebar .sidebarRow {
    position: relative;
}

.sidebar .sidebarLogo {
    width: fit-content;
    display: inline;
}

.sidebar .sidebarToggleIcon {
    position: absolute;
    right: 5px;
}

.sidebar .sidebarButtons {
    align-self: start;
}



.MuiDivider-root {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
    height: 2px !important;
}

.MuiDivider-light {
    background-color:#273240 !important;
}


.sidebarSpan:hover {
    cursor: pointer;
    background-color: #272d37;
}

.sidebarSelected {
    background-color: #3b4049 !important;
}

.teamsRow {
    display: flex;
}

.teamsRow:hover {
    cursor: pointer;
}

.teamsIcon {
    position: relative;
    margin-top: auto;
    margin-bottom: auto;
}